# Install package language-julia on Atom
# julia julia-tut.jl to execute in terminal

In [1]:
# Imported modules
using Printf # Needed to use printf
using Statistics

# ----- VARIABLES -----
# Types are dynamically assigned and can be changed
# Variables start with _, letters and then numbers, or !

In [2]:
s = 0
s = "Dog"
println(s)

Dog

# ----- DATA TYPES -----
# You can assert a datatype and an error would be thrown
# if you tried to assign an incorrect value

In [3]:
#function changeNum()
#    x::Int8 = 10
#    x = "Dog"
#end
#changeNum()
# Bool : true or false
canDrive = true

true

# Int8 : -128 - 127
# Int16 : −32,768 - 32,767
# Int32 : −2,147,483,648 - 2,147,483,647
# Int64 : −2^63 - 2^63 - 1
# Float32, Float64, UInt8, UInt16, etc.

# Float addition is accurate to about 14 digits
# get_bigfloat_precision() in the REPL says
# that BigFloats are by default accurate to
# 256 bits
# We can increase the precision with BigFloats
# Also there is BigInt

In [4]:
bF = 1.111111111111111
println(bF + 0.111111111111111)

1.2222222222222219

# Chars store any UTF-8 unicode character

In [5]:
c1 = 'A'

'A': ASCII/Unicode U+0041 (category Lu: Letter, uppercase)

# ----- CASTING -----

In [6]:
# Cast from Int to Char
c2 = Char(120)
println(c2)

x

In [7]:
# Cast from Float to Int
i1 = UInt8(trunc(3.14))
println(i1)

3

In [8]:
# Cast string to Float
f1 = parse(Float64,"1")
println(f1)

1.0

In [9]:
# Cast string to Int
i2 = parse(Int8,"1")
println(i2)

1

# ----- STRINGS -----

In [10]:
s1 = "Just some random words\n"

"Just some random words\n"

In [11]:
# Size of string
println(length(s1))

23

In [12]:
# The 1st index is at 1
println(s1[1])

J

In [13]:
# Get last character
println(s1[end])

In [14]:
# Get a range
println(s1[1:4])

Just

# Concatenation

In [15]:
s2 = string("Yukiteru", " Amano")
println(s2)
# And
println("Yuno" * " Gasai")

Yukiteru Amano
Yuno Gasai

# Multiline strings

In [16]:
s3 = """I
have
many
lines"""
println(s3)

I
have
many
lines

# String comparisons with == > < !=

In [17]:
println("Takao" > "Hiyama")

true

# Find index for character

In [18]:
println(findfirst(isequal('i'), "Keigo"))

3

# Find a substring

In [19]:
println(occursin("key", "monkey"))

true

# Interpolation

In [20]:
i3 = 2
i4 = 3
println("$i3 + $i4 = $(i3 + i4)")

2 + 3 = 5

# ----- CONDITIONALS -----

In [21]:
age = 12
if age >= 5 && age <= 6
    println("You're in Kindergarten")
elseif age >= 7 && age <= 13
    println("You're in Middle School")
elseif age >= 14 && age <= 18
    println("You're in High School")
else
    println("Stay Home")
end

You're in Middle School

In [22]:
@printf("true || false = %s\n", true || false ? "true" : "false")
@printf("!true = %s\n", !true ? "true" : "false")

age = 55
@printf("Can I drive : %s\n", age > 16 ? "true" : "false")

true || false = true
!true = false
Can I drive : true

# ----- LOOPING -----

In [23]:
i = 1

while i < 20
    if (i % 2) == 0
        println(i)
        global i += 1
        continue # Skip the rest of the code in the loop
    end

    # Make the code use the global i
    global i += 1

    if i >= 10
        break # Jump out of the loop
    end
end

2
4
6
8

# Using a range with for

In [24]:
for i = 1:5
    println(i)
end

1
2
3
4
5

In [25]:
# Using an array
for i in [2,4,6]
    println(i)
end

2
4
6

In [26]:
# Loop while iterating multiple variables
# The 2nd value in the j range is the step
for i = 1:5, j = 2:2:10
    println((i, j))
end

(1, 2)
(1, 4)
(1, 6)
(1, 8)
(1, 10)
(2, 2)
(2, 4)
(2, 6)
(2, 8)
(2, 10)
(3, 2)
(3, 4)
(3, 6)
(3, 8)
(3, 10)
(4, 2)
(4, 4)
(4, 6)
(4, 8)
(4, 10)
(5, 2)
(5, 4)
(5, 6)
(5, 8)
(5, 10)

# ----- ARRAYS -----

In [27]:
# Create an array of zeros
a1 = zeros(Int32, 2, 2)

2×2 Array{Int32,2}:
 0  0
 0  0

In [28]:
# Create array of Int32s
a2 = Array{Int32}(undef, 5)

5-element Array{Int32,1}:
 234824000
         0
 234824064
         0
 234824128

In [29]:
# Or like this
a3 = Float64[]

0-element Array{Float64,1}

In [30]:
# Create an array
a4 = [1,2,3]

3-element Array{Int64,1}:
 1
 2
 3

In [31]:
# Get value at index
println(a4[1])

1

In [32]:
# Get last value
println(a4[end])

3

In [33]:
# Check if value exists
println(5 in a4)

false

In [34]:
# Get 1st index
println(findfirst(isequal(2), a4))

2

# Find all matches using a generic function

In [35]:
f(a) = (a >= 2) ? true : false
println(findall(f, a4))

[2, 3]

In [36]:
# How many items pass the test
println(count(f, a4))

2

In [37]:
# Get row and column size
println(size(a4))

(3,)

In [38]:
# Get number of elements
println(length(a4))

3

In [39]:
# Sum values
println(sum(a4))

6

# Put values starting at 2nd index

In [40]:
splice!(a4, 2:1, [8,9])
println(a4)

[1, 8, 9, 2, 3]

# Remove items at index 2 through 3

In [41]:
splice!(a4, 2:3)
println(a4)

[1, 2, 3]

In [42]:
# Get max & min value
println(maximum(a4))
println(minimum(a4))

3
1

# Perform calculations on an array without looping

In [43]:
println(a4 * 2)

[2, 4, 6]

# You can use multiple types or Any

In [44]:
a5 = [1,3.14,"Hello"]

3-element Array{Any,1}:
 1
 3.14
  "Hello"

In [45]:
# You can store functions

In [46]:
a6 = [sin, cos, tan]
for n in a6
    println(n(0))
end

0.0
1.0
0.0

# Multidimensional array

In [47]:
a7 = [1 2 3; 4 5 6]
for n = 1:2, m = 1:3
    @printf("%d ", a7[n,m])
end
println()

1 2 3 4 5 6

# Create a multidimensional array

In [48]:
a11 = [n * m for n in 1:5, m in 1:5]
println(a11)

[1 2 3 4 5; 2 4 6 8 10; 3 6 9 12 15; 4 8 12 16 20; 5 10 15 20 25]

# Generate a 5 by 5 random array with values between 0 - 9

In [49]:
a12 = rand(0:9, 5, 5)
for n = 1:5
    for m = 1:5
        print(a12[n, m])
    end
    println()
end

07514
46744
11244
22867
11772

# Get every row in the 2nd column

In [50]:
println(a7[:, 2])

[2, 5]

# Every row 2nd column

In [51]:
println(a7[2, :])

[4, 5, 6]

# Array from a range

In [52]:
a8 = collect(1:5)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

# Range with a step (step is 2nd value)
# Or backward collect(4:-1:1)

In [53]:
a9 = collect(2:2:10)
for n in a9 print(n) end
println()

246810

# Create an array with a comprehension

In [54]:
a10 = [n^2 for n in 1:5]

5-element Array{Int64,1}:
  1
  4
  9
 16
 25

# Add value to array

In [55]:
push!(a10, 36)
println(a10)

[1, 4, 9, 16, 25, 36]

# ----- TUPLES -----
# Most array functions work with Tuples except tuple
# values cannot be changed

In [56]:
t1 = (1,2,3,4)
println(t1)

(1, 2, 3, 4)

In [57]:
# Get a value
println(t1[1])

1

In [58]:
# Get all
for i in t1
    println(i)
end

1
2
3
4

# Multidimensional tuple

In [59]:
t2 = ((1,2), (3,4))
println(t2[1][1])

1

# Named tuple

In [60]:
t3 = (sue = ("Sue", 100), paul = ("Paul", 23))
println(t3.sue)

("Sue", 100)

# ----- DICTIONARIES -----
# Dictionaries are key value (kv) pairs where the key moust be unique

In [61]:
d1 = Dict("pi"=>3.14, "e"=>2.718)

Dict{String,Float64} with 2 entries:
  "e"  => 2.718
  "pi" => 3.14

In [62]:
# Get value
println(d1["pi"])

3.14

In [63]:
# Add a kv
d1["golden"] = 1.618

1.618

In [64]:
# Delete a kv
delete!(d1, "pi")

Dict{String,Float64} with 2 entries:
  "golden" => 1.618
  "e"      => 2.718

In [65]:
# Check if key exists
println(haskey(d1, "pi"))

false

In [66]:
# Check for key & value
println(in(("pi"=>3.14)))

Base.Fix2{typeof(in),Pair{String,Float64}}(in, "pi" => 3.14)

In [67]:
# Display all keys
println(keys(d1))

["golden", "e"]

In [68]:
# Display all values
println(values(d1))

[1.618, 2.718]

In [69]:
# Display both
for kv in d1
    println(kv)
end

"golden" => 1.618
"e" => 2.718

In [70]:
# Control display of kv
for(key, value) in d1
    println(key, " : ", value)
end

golden : 1.618
e : 2.718

# ----- SETS -----
# Sets are arrays with all unique values

In [71]:
st1 = Set(["Jim", "Pam", "Jim"])
println(st1)

Set(["Pam", "Jim"])

In [72]:
# Add a value
push!(st1, "Michael")

Set(["Pam", "Jim", "Michael"])

In [73]:
# Check for value
println(in("Dwight", st1))

false

# Combine sets

In [74]:
st2 = Set(["Stanley", "Meredith"])
println(union(st1, st2))

Set(["Pam", "Stanley", "Jim", "Michael", "Meredith"])

# Every item both sets have

In [75]:
println(intersect(st1, st2))

Set(String[])

# Items in 1st, but not 2nd

In [76]:
println(setdiff(st1, st2))

Set(["Pam", "Jim", "Michael"])

# ----- FUNCTIONS -----

In [77]:
# This is a single expression function
getSum(x,y) = x + y
x, y = 1, 2
@printf("%d + %d = %d\n", x, y, x+y)

1 + 2 = 3

# Multiple expression functions

In [78]:
# You can asign default values
function canIVote(age=16)
    if age > 18
        println("Can Vote")
    else
        println("Can't Vote")
    end
end
canIVote(43)

Can Vote

# Arguments

In [79]:
# Arguments are pass by value
v1 = 5
function changeV1(v1)
    v1 = 10
end
changeV1(v1)
println(v1)

5

In [80]:
# You can use globals inside functions
function changeV12()
    global v1 = 10
end
changeV12()
println(v1)

10

# Variable arguments

In [81]:
function getSum2(args...)
    sum = 0
    for a in args
        sum += a
    end
    println(sum)
end
getSum2(1,2,3,4)

10

# Return multiple values

In [82]:
function next2(val)
    return (val + 1, val + 2)
end
println(next2(4))

(5, 6)

# Functions that return functions

In [83]:
function makeMultiplier(num)
    return function (x) return x * num end
end

makeMultiplier (generic function with 1 method)

In [84]:
mult3 = makeMultiplier(3)
println(mult3(6))

18

# Handle different types of arguments

In [85]:
function getSum3(num1::Number, num2::Number)
    return num1 + num2
end

getSum3 (generic function with 1 method)

In [86]:
function getSum3(num1::String, num2::String)
    return parse(Int32, num1) + parse(Int32, num2)
end

getSum3 (generic function with 2 methods)

In [87]:
f1 = parse(Float64,"1")

1.0

In [88]:
println("5 + 4 = ", getSum3(5,4))
println("5 + 4 = ", getSum3("5","4"))

5 + 4 = 9
5 + 4 = 9

# ----- ANONYMOUS FUNCTIONS -----
# Functions with no name that are used inline
# Map applies a function to each item

In [89]:
v2 = map(x -> x * x, [1,2,3])
println(v2)

[1, 4, 9]

In [90]:
# Add arrays
v3 = map((x,y) -> x + y, [1,2], [3,4])
println(v3)

[4, 6]

In [91]:
# Reduce uses a function multiple times for 1 result
v4 = reduce(+, 1:100)
println(v4)

5050

In [92]:
# Get longest word in a sentence
sentence = "This is a string"
# Convert string to array
sArray = split(sentence)
longest = reduce((x, y) -> length(x) > length(y) ? x : y, sArray )
println(longest)

string

# ----- MATH -----

In [93]:
@printf("5 + 4 = %d\n", (5 + 4))
@printf("5 - 4 = %d\n", (5 - 4))
@printf("5 * 4 = %d\n", (5 * 4))
@printf("5 / 4 = %d\n", (5 / 4))
println("5 % 4 = ", (5 % 4))
@printf("5 ^ 4 = %d\n", (5 ^ 4))

5 + 4 = 9
5 - 4 = 1
5 * 4 = 20
5 / 4 = 1
5 % 4 = 1
5 ^ 4 = 625

In [94]:
@printf("round(3.5) = %d\n", round(3.5))
@printf("floor(3.5) = %d\n", floor(3.5))
@printf("ceil(3.5) = %d\n", round(3.5))
@printf("abs(-3.5) = %d\n", abs(-3.5))
@printf("sqrt(100) = %d\n", sqrt(100))
@printf("cbrt(100) = %d\n", cbrt(100))
@printf("hypot(90,90) = %d\n", hypot(90,90))
@printf("exp(2) = %d\n", exp(2))
@printf("log(100) = %d\n", log(100))
@printf("log2(100) = %d\n", log2(100))
@printf("log10(100) = %d\n", log10(100))

round(3.5) = 4
floor(3.5) = 3
ceil(3.5) = 4
abs(-3.5) = 4
sqrt(100) = 10
cbrt(100) = 5
hypot(90,90) = 127
exp(2) = 7
log(100) = 5
log2(100) = 7
log10(100) = 2

# Trig Functions : sin, cos, tan, cot, sec, csc
# sinh, cosh, tanh, coth, sech, csch
# asin, acos, atan, acot, asec, acsc
# asinh, acosh, atanh, acoth, asech, acsch
# sinc, cosc

# Shortcuts available += -= *= /= ^=

# You can imply multiplication without *

In [95]:
x = 5
println(2x)

10

# Dot operators perform operations on arrays

In [96]:
a13 = [1,2,3]
println(a13 .* 3)

[3, 6, 9]

# ----- ENUMS -----

In [97]:
@enum Color begin
    red = 1
    blue = 2
    green = 3
end

In [98]:
favColor = green::Color
println(favColor)

green

# ----- SYMBOLS -----
# Symbols are immutable (Unable to be changed without 
# exception.) strings that represent a variable as data

In [99]:
:Derek
println(:Derek)

Derek

# They are commonly used as keys with dictionaries

In [100]:
d2 = Dict(:pi=>3.14, :e=>2.718)
println(d2[:pi])

3.14

# ----- STRUCTS -----
# Structs are composite types, or a type that contains
# many fields

# Structs by default are immutable
# ERROR bob.name = "Sue Smith"
# You could change that with mutable struct Customer

In [101]:
struct Customer
    name::String
    balance::Float32
    id::Int
end

In [102]:
# Create a Customer object
bob = Customer("Bob Smith", 10.50, 123)
println(bob.name)

Bob Smith

# ----- ABSTRACT TYPES -----
# Abstract types can't be instantiated like Structs
# but they can have subtypes

In [103]:
abstract type Animal end

In [104]:
struct Dog <: Animal
    name::String
    bark::String
end

In [105]:
struct Cat <: Animal
    name::String
    meow::String
end

In [106]:
bowser = Dog("Bowser", "Ruff")
muffin = Cat("Muffin", "Meow")

Cat("Muffin", "Meow")

In [107]:
function makeSound(animal::Dog)
    println("$(animal.name) says $(animal.bark)")
end

makeSound (generic function with 1 method)

In [108]:
function makeSound(animal::Cat)
    println("$(animal.name) says $(animal.meow)")
end

makeSound (generic function with 2 methods)

In [109]:
makeSound(bowser)
makeSound(muffin)

Bowser says Ruff
Muffin says Meow

# ----- EXCEPTION HANDLING & USER INPUT -----
# Throw and handle errors

In [110]:
print("Enter a number ")
num1 = chomp(readline())

Enter a number stdin> 5

"5"

In [111]:
print("Enter a number ")
num2 = chomp(readline())

Enter a number stdin> 8

"8"

In [112]:
try
    val = (parse(Int32, num1)) / (parse(Int32, num2))
    if (val == Inf)
        error("Can't divide by zero")
    else
        println(val)
    end
catch e
    println(e)
end

0.625

# ----- FILE IO -----

In [113]:
# Open file for writing
open("random.txt", "w") do file
    write(file, "Here is some random text\nIt is great\n")
end

37

In [114]:
# Open a file for reading
open("random.txt") do file
    # Read whole file into a string
    data = read(file, String)
    println(data)
end

Here is some random text
It is great

In [115]:
open("random.txt") do file
    # Read each line 1 at a time
    for line in eachline(file)
        println(line)
    end
end

Here is some random text
It is great

# ----- MACROS -----
# Macros generate code before the program is run

# Execute passed code a certain number of times

In [116]:
macro doMore(n, exp)
  quote

      # esc hides what it contains until everything
      # is ready to be executed
    for i = 1:$(esc(n))
      $(esc(exp))
    end
  end
end

@doMore (macro with 1 method)

In [117]:
@doMore(2, println("Hello"))

Hello
Hello

# Create a do while loop

In [118]:
macro doWhile(exp)
    # Assert that while is the first element passed
  @assert exp.head == :while

  # quote is the same as begin ... end
  esc(quote

  # Contains the body of the loop
    $(exp.args[2])
    $exp
  end)
end

@doWhile (macro with 1 method)

In [119]:
z = 0
@doWhile while z < 10
    global z += 1
    println(z)
end

1
2
3
4
5
6
7
8
9
10

######